<!DOCTYPE html>
<html>
   
   <head>
      <title>Fileuploader</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
   </head>
   
   <body>
      <div class = "container" style = "padding-top:20px;">
         <%= yield %>
      </div>
   </body>

</html>
